* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 16px;
}
.ui-datepicker {
  z-index: 10;
  width: 300px;
  border: none !important;
  color: #e25a00 !important;
  display: none;
  background: none !important;
  padding: 10px 20px;
  position: absolute;
  margin-left: -10px !important;
}
.secondJQuery {
  margin-left: -205px !important;
}
.ui-datepicker div,
.ui-datepicker a span.ui-icon {
  border: none !important;
  background-color: rgb(173, 255, 255) !important;
  color: #003f7a !important;
}
.ui-datepicker-header {
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2),
    0px 0px 2.9px rgba(0, 0, 0, 0.23);
}
.ui-datepicker a {
  background: none !important;
  color: white !important;
  border: none !important;
  background-color: #003f7a !important;
  border-radius: 3px !important;
  font-size: 14px !important;
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.3),
    0px 0px 2.9px rgba(0, 0, 0, 0.33);
}
.ui-datepicker a.ui-corner-all {
  border: none !important;
  background-color: rgb(173, 255, 255) !important;
  box-shadow: none !important;
}
.ui-datepicker a:hover {
  background-color: #e25a00 !important;
  color: white !important;
}
.ui-datepicker a.ui-corner-all:hover {
  background: none !important;
}
input:focus {
  outline: none;
}
.MenuIcon {
  display: none;
}
body {
  background-color: #210340;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 1500px;
}
.jumbotron_background {
  position: absolute;
  height: 100vh;
  z-index: -1;
  width: 100vw;
  /*background: linear-gradient(rgba(0, 125, 209, 0.466), rgb(248, 75, 182)),*/
  background: linear-gradient(rgba(204, 241, 255, 0.37), #210340),
    url("../images/JFKAIR.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  max-width: 1024px;
  margin: auto;
}
header {
  background-color: #140028;
}
.header_content_container {
  display: flex;
  justify-content: space-between;
}
.site_logo_container {
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 23px;
  color: Orange;
  font-weight: bolder;
  cursor: pointer;
}
.site_logo_container p,
.site_logo_container span {
  font-size: 23px;
}
.site_logo_container p,
.site_logo_container span {
  font-size: 23px;
}
.hero_section_container {
  padding-bottom: 10px;
  padding-top: 1px;
  width: 100vw;
  z-index: 2;
  background-color: #140028;
}
.sections_title_h1 {
  font-size: 23px;
  color: white;
  font-weight: bolder;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.explore_section,
.packages_section {
  display: none;
}
.page_title {
  font-size: 22px;
  color: white;
}
.search_tickets_form_container {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
.search_tickets_form_container .search_fieldset {
  width: 40%;
  display: flex;
  background-color: white;
  border-radius: 5px;
}
#home_page_search_button {
  border-radius: 4px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  background-color: #003f7a;
}
.search_tickets_form_container i {
  font-size: 20px;
  color: rgb(231, 124, 2);
  text-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2),
    0px 0px 2.9px rgba(0, 0, 0, 0.23);
  margin: 0 10px;
}
.search_tickets_form_container input {
  width: calc(100% - 40px);
  padding: 10px 0;
  border: none;
}
.search_fieldset {
  position: relative !important;
  z-index: 3 !important;
}
.from_when_date_show_container,
.from_where_city_show_container {
  display: none;
  width: 100% !important;
  min-height: 300px !important;
  background-color: white;
  position: absolute;
  z-index: -1 !important;
  border-radius: 5px;
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2),
    0px 0px 2.9px rgba(0, 0, 0, 0.23);
}
#people_also_searched_list_div {
  padding: 5px;
}
.people_also_searched_list_item {
  color: rgb(0, 127, 177);
  font-size: 12px;
  margin-bottom: 5px;
  cursor: pointer;
}
.people_also_searched_list_item:hover {
  text-decoration: underline;
}
.people_also_searched_list_item span {
  color: rgb(0, 127, 177);
  font-size: 12px;
  font-weight: bolder;
}
.people_also_searched_list_item i {
  font-size: 12px;
  color: rgb(0, 177, 139);
  text-shadow: none;
}
#more_options_date_show_container {
  margin-top: 285px;
  background-color: #a9ddff;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
#more_options_date_show_container p {
  font-size: 12px;
  font-weight: bolder;
  color: #003f7a;
  margin-bottom: 10px;
}
#more_options_date_show_list {
  display: flex;
  justify-content: space-between;
}
.more_options_date_show_item {
  width: 21%;
  padding: 10px 5px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bolder;
  color: white;
  text-align: center;
  overflow: hidden;
  background-color: rgb(173, 255, 255);
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2),
    0px 0px 2.9px rgba(0, 0, 0, 0.23);
}
#trip_type_parameters li {
  text-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2),
    0px 0px 2.9px rgba(0, 0, 0, 0.23);
  display: inline;
  padding: 15px;
}
#trip_type_param_number_of_people_option,
#trip_type_param_flight_class_option {
  color: #a9ddff;
}
#trip_type_param_round_trip_option {
  color: #ffcb7d;
}
#trip_type_parameters li:hover {
  color: #ffcb7d;
}

#trip_type_parameters i {
  margin-left: 5px;
  color: #ffcb7d;
  text-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2),
    0px 0px 2.9px rgba(0, 0, 0, 0.23);
}
.round_trip_type_options_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.round_trip_type_options_item p {
  margin-bottom: 10px;
}
.round_trip_type_options_item p input[type="radio"] {
  margin-right: 5px;
}
.each_round_trip_options_person_selector {
  display: flex !important;
  justify-content: space-between !important;
  padding: 10px 0;
}
.each_round_trip_options_person_type span {
  margin-left: 10px;
  color: #838ead;
}
.each_round_trip_options_increase_person_div {
  display: flex !important;
  justify-content: space-between !important;
  min-width: 80px !important;
}
.each_round_trip_options_increase_person_btn {
  text-align: center;
  width: 25px;
  background-color: #e25a00;
  border-radius: 4px;
  color: white;
  border: 1px solid #80e1ff;
}
#trip_type_parameters {
  margin: 15px 0;
  position: relative;
  z-index: 5;
  cursor: pointer;
}
.round_trip_type_options {
  display: none;
  position: absolute;
  margin-top: -30px;
  padding-top: 45px;
  z-index: -1;
  margin-left: -10px;
  width: 380px;
  border-radius: 5px;
  background-color: rgb(0, 118, 148);
  color: #80e1ff;
  text-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2),
    0px 0px 2.9px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2),
    0px 0px 2.9px rgba(0, 0, 0, 0.23);
}
#number_of_people_indicator {
  border-top: 1px solid #ffcb7d;
  padding-top: 15px;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ffcb7d;
  text-shadow: none;
  display: none;
}
#number_of_people_indicator i {
  margin-right: 5px;
  color: red;
  font-size: 13px;
  text-shadow: none;
}
.round_trip_type_options_content {
  padding: 15px 0;
  width: 100%;
  background-color: #194f81;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #ffcb7d;
}
#site_lower_section {
  min-height: 500px;
}
footer {
  background-color: #140028;
  padding: 30px 0;
  font-size: 13px;
}
.footer_row {
  display: flex;
  justify-content: space-between;
}
.footer_section_header {
  margin-bottom: 15px;
  color: orange;
  font-weight: bolder;
  font-size: 13px;
}
footer li {
  list-style-type: none;
  color: white;
  font-size: 13px;
}
.footer_fld_cntn {
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
}
.footer_fld_cntn input,
.footer_fld_cntn select {
  font-size: 13px;
  border: none;
  color: white;
  background-color: #140028;
  width: 200px;
}
.footer_ivorycoast_flag {
  width: 15px;
  height: 10px;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

@media only screen and (max-width: 1025px) {
  /*top nav bar responsiveness*/
  .wrapper {
    margin: 0 30px;
  }
}

@media only screen and (max-width: 700px) {
  * {
    max-width: 100vw;
    overflow: initial !important;
  }
  .sections_title_h1 {
    margin-top: 30px !important;
    font-size: 18px !important;
  }
  .site_motto_container {
    padding-top: 0;
  }
  .site_motto {
    font-size: 20px;
    padding-bottom: 0 !important;
    text-align: center;
  }
  .search_tickets_form_container {
    padding-bottom: 10px;
  }
  .search_fieldset {
    flex-direction: row !important;
    margin-bottom: 10px;
    padding: 1px 0;
    overflow: initial !important;
  }
  #city_search_fieldset {
    z-index: 4 !important;
  }
  #home_page_search_button {
    margin: 0;
    border-radius: 4px;
    padding: 10px 0;
  }
  #trip_type_parameters {
    margin-top: 15px;
    width: 100% !important;
    overflow: initial;
  }
  .each_round_trip_options_person_selector {
    flex-direction: row !important;
  }
  .each_round_trip_options_increase_person_div {
    flex-direction: row !important;
  }
  .round_trip_type_options {
    margin-left: 0;
    margin-top: -30px !important;
    padding-top: 40px;
    width: 100% !important;
  }
  .each_round_trip_options_increase_person_btn {
    width: 25px !important;
  }
  #more_options_date_show_list {
    flex-direction: row !important;
    justify-content: space-between;
  }
  .more_options_date_show_item {
    width: 21% !important;
  }
  #trip_type_parameters li {
    padding: 10px !important;
    font-size: 13px;
  }
  .wrapper {
    margin: 0 10px;
    overflow-y: initial !important;
  }
  section div {
    flex-direction: column !important;
    width: initial !important;
  }
  #home_page_display_pictures {
    height: initial !important;
    margin-top: 0;
    /*border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
  }
  .hero_section_container {
    padding-top: 1px;
    overflow: initial !important;
    padding-bottom: 0;
  }
  #hero_section_flex_container {
    flex-direction: column !important;
  }
  .jumbotron_background {
    display: none;
  }

  footer .wrapper div {
    flex-direction: column;
    text-align: center !important;
    height: initial !important;
  }
  footer p {
    max-width: 100% !important;
  }
  .footer_section_header {
    margin: 0 !important;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
  }
  .favorite_bus_company_list_row {
    margin: 0 !important;
  }
  .favorite_bus_company_list_column {
    margin: 3px 0 !important;
  }
  .footer_fld_cntn {
    width: 250px;
    margin: auto !important;
  }
}
@media only screen and (max-width: 413px) {
  .ui-datepicker {
    margin-left: -1.5em !important;
  }
}
@media only screen and (max-width: 377px) {
  .ui-datepicker {
    margin-left: -1.1em !important;
  }
}
@media only screen and (max-width: 360px) {
  .ui-datepicker {
    margin-left: -0.65em !important;
  }
}
@media only screen and (max-width: 322px) {
  .ui-datepicker {
    margin-left: -1.1em !important;
    font-size: 10px !important;
    width: 260px !important;
  }
  .ui-datepicker span,
  .ui-datepicker p {
    font-size: 10px !important;
  }
}
