* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 16px;
}
input:focus {
  outline: none;
}
.MenuIcon {
  display: none;
}
body {
  background-color: #210340;
  min-height: 1500px;
  max-width: 100vw;
  overflow-x: hidden;
}
.jumbotron_background {
  position: absolute;
  height: 100vh;
  z-index: -1;
  width: 100vw;
  /*background: linear-gradient(rgba(0, 125, 209, 0.466), rgb(248, 75, 182)),*/
  background: linear-gradient(rgba(204, 241, 255, 0.37), #210340),
    url("../images/JFKAIR.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  max-width: 1024px;
  margin: auto;
}
header {
  background-color: #140028;
}
.header_menu_dropdowns {
  display: flex;
  position: absolute;
  top: 55px;
  width: 100%;
  max-width: 1100px;
  z-index: 10;
}
#main_menu_more_submenu,
#main_menu_language_submenu,
#mobile_main_menu_items {
  border-top: 4px solid orange;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  color: white;
  position: relative;
  width: 100px;
  height: 70px;
  background-color: #140028;
  left: 489px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
#main_menu_more_submenu:hover,
#main_menu_language_submenu:hover {
  visibility: visible;
  opacity: 1;
}
#main_menu_language_submenu {
  left: 753px;
  /*left: 68.4%;*/
}
#mobile_main_menu_items {
  position: absolute;
  z-index: 10;
  padding: 0;
  width: 600px;
  height: 64px;
  left: 0;
}
.header_content_container {
  display: flex;
  justify-content: space-between;
}
.site_logo_container {
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 23px;
  color: Orange;
  font-weight: bolder;
  cursor: pointer;
}
.site_logo_container p,
.site_logo_container span {
  font-size: 23px;
}
#top_logo_menu_icon {
  display: none;
  margin-left: 10px;
  margin-top: 25px;
  color: rgb(163, 135, 135);
}
.top_nav_main_links_container {
  height: 100%;
}
#mobile_top_nav_signin_btn {
  display: none !important;
}
header ul,
#mobile_main_menu_items ul {
  padding: 20px;
}
header li,
#mobile_main_menu_items li {
  display: inline;
  cursor: pointer;
  padding: 20px;
}
header li a,
#mobile_main_menu_items li a {
  text-decoration: none;
  color: white;
}
header li a:hover {
  color: orange;
}
header li a i,
#mobile_main_menu_items li a i {
  color: sandybrown;
  margin-right: 5px;
}
.active_top_nav_link {
  border-bottom: 4px solid orange;
  color: orange;
  padding-bottom: 16px;
}
.active_top_nav_link a {
  color: orange !important;
}
.active_top_nav_link a i {
  color: rgb(255, 23, 166) !important;
}
.hero_section_container,
.explore_section,
.packages_section {
  min-height: 90vh;
}
.explore_section,
.packages_section {
  display: none;
}
.site_motto_container {
  padding-top: 40px;
}
.site_motto {
  padding: 50px 0;
  font-size: 2rem;
  font-weight: bolder;
  color: #cdefff;
  text-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2),
    0px 0px 2.9px rgba(0, 0, 0, 0.23);
}
.page_title {
  font-size: 22px;
  color: white;
}
#map_picture {
  width: 200px;
  height: 100px;
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/USA_Flag_Map.png");
}
.search_tickets_form_container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(146, 206, 255);
  border-radius: 5px;
  padding: 0 10px;
}
.search_tickets_form_container .search_fieldset {
  margin: 10px 0;
  width: 40%;
  display: flex;

  background-color: white;
  border-radius: 5px;
}
#home_page_search_button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0;
  margin-right: -10px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  background-color: #003f7a;
}
.search_tickets_form_container i {
  font-size: 20px;
  color: rgb(231, 124, 2);
  text-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2),
    0px 0px 2.9px rgba(0, 0, 0, 0.23);
  margin: 0 10px;
}
.search_tickets_form_container input {
  width: calc(100% - 40px);
  padding: 10px 0;
  border: none;
}
.search_fieldset {
  position: relative !important;
  z-index: 3 !important;
}
.from_when_date_show_container,
.from_where_city_show_container {
  display: none;
  width: 100% !important;
  height: 300px !important;
  background-color: white;
  position: absolute;
  z-index: -1 !important;
  border-radius: 5px;
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2),
    0px 0px 2.9px rgba(0, 0, 0, 0.23);
}
#trip_type_parameters li {
  text-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2),
    0px 0px 2.9px rgba(0, 0, 0, 0.23);
  display: inline;
  color: #a9ddff;
  padding: 15px;
}
#trip_type_parameters li:hover {
  color: #ffcb7d;
}
#trip_type_param_round_trip_option {
  color: #ffcb7d !important;
}
#trip_type_parameters i {
  margin-left: 5px;
  color: #ffcb7d;
  text-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2),
    0px 0px 2.9px rgba(0, 0, 0, 0.23);
}
#close_main_round_trip_type_options_btn {
  cursor: pointer;
  width: fit-content;
  position: fixed;
  z-index: 6;
  top: 210px;
  right: 30px;
  text-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2),
    0px 0px 2.9px rgba(0, 0, 0, 0.23);
}
#trip_type_parameters {
  margin: 15px 0;
  position: relative;
  z-index: 5;
  cursor: pointer;
}
.round_trip_type_options {
  display: none;
  position: absolute;
  margin-top: -35px;
  padding-top: 55px;
  z-index: -1;
  margin-left: -10px;
  width: 380px;
  border-radius: 5px;
  background-color: rgb(0, 118, 148);
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2),
    0px 0px 2.9px rgba(0, 0, 0, 0.23);
}
.round_trip_type_options_content {
  padding: 15px 0;
  width: 100%;
  min-height: 180px;
  background-color: #194f81;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #ffcb7d;
}
#home_page_display_pictures {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
#home_page_display_pictures_desc {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #003f7a;
}
#home_page_display_pictures .each_display_picture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  width: 33.3%;
  height: 100%;
}
#site_lower_section {
  min-height: 500px;
}
#most_searched_cities_list_container {
  display: flex;
  justify-content: space-between;
}
.each_popular_city {
  width: 24%;
  display: flex;
  flex-direction: column;
  height: 320px;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(230, 245, 92);
}
.each_popular_city img {
  width: 100%;
  height: 220px !important;
}
.each_popular_city_desc {
  padding: 10px;
}
.favorite_bus_company_list_row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.favorite_bus_company_list_column {
  width: 24%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(146, 206, 255);
}
.favorite_bus_company_title_text {
  display: flex;
  justify-content: space-between;
  color: rgb(146, 206, 255);
  padding: 5px;
}
#home_page_reviews_list {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
}
.each_review_info {
  border-top: 8px solid orange;
  border-bottom: 5px solid orange;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  width: 32%;
}
.review_person_photo {
  width: 70px;
  height: 70px;
  border: 3px solid orange;
  background-color: #140028;
  overflow: hidden;
  border-radius: 100%;
  margin: auto;
  margin-top: -45px;
}
.each_review_msg_info {
  height: 300px;
  padding: 10px;
  overflow: hidden;
}
.review_person_name {
  text-align: center;
  color: #b15416;
  margin: 5px 0;
  font-size: 19px !important;
  font-weight: bolder;
}
.review_date {
  font-size: 13px;
  color: rgb(245, 105, 105);
}
.review_msg {
  padding: 0 10px;
  margin-bottom: 30px;
  color: rgb(18, 2, 39);
  text-align: justify;
}
.review_person_city {
  color: rgb(126, 88, 53);
  font-weight: bolder;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}
footer {
  background-color: #140028;
  padding: 30px 0;
  font-size: 13px;
}
.footer_row {
  display: flex;
  justify-content: space-between;
}
.footer_section_header {
  margin-bottom: 15px;
  color: orange;
  font-weight: bolder;
  font-size: 13px;
}
footer li {
  list-style-type: none;
  color: white;
  font-size: 13px;
}
.footer_fld_cntn {
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
}
.footer_fld_cntn input,
.footer_fld_cntn select {
  font-size: 13px;
  border: none;
  color: white;
  background-color: #140028;
  width: 200px;
}
.footer_ivorycoast_flag,
.header_ivorycoast_flag {
  width: 15px;
  height: 10px;
}
.header_ivorycoast_flag {
  margin-left: 5px;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

@media only screen and (max-width: 1025px) {
  /*top nav bar responsiveness*/
  .wrapper {
    margin: 0 30px;
  }
  .header_menu_dropdowns {
    margin: 0 30px;
  }
  #top_logo_as_menu_btn {
    cursor: pointer;
  }
  #top_logo_menu_icon {
    display: block;
  }
  .top_nav_main_links_container {
    display: none;
  }
  #main_menu_language_submenu {
    left: calc(100vw - 380px);
  }
  /*.site_logo_container {
    margin-left: 30%;
  }*/
  .MenuIcon {
    width: 50px;
    top: 18.6px;
    left: 150px;
    position: absolute;
    z-index: 4;
  }

  #nav-toggle {
    position: absolute;
    right: 20px;
    top: 50%;
  }

  #nav-toggle {
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 50px;
    height: 4px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: "";
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }

  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    transition: all 100ms ease-in-out;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before,
  #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
  #main_menu_more_submenu {
    position: initial !important;
    left: 0 !important;
  }

  /*main sections responsiveness*/
}

@media only screen and (max-width: 700px) {
  * {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .header_menu_dropdowns {
    width: initial !important;
    max-width: initial !important;
    overflow: initial !important;
    margin: 0 !important;
  }
  .site_motto_container {
    padding-top: 0;
  }
  .site_motto {
    font-size: 20px;
    text-align: center;
  }
  .search_tickets_form_container {
    padding-bottom: 10px;
    overflow: initial !important;
  }
  .search_fieldset {
    flex-direction: row !important;
    overflow: initial !important;
  }
  #city_search_fieldset {
    z-index: 4 !important;
  }
  .each_display_picture_mobile_hidden {
    display: none;
  }
  #home_page_search_button {
    margin: 0;
    border-radius: 4px;
    padding: 10px 0;
  }
  #trip_type_parameters {
    margin-top: 30px;
    width: 100% !important;
    overflow: initial;
  }
  .round_trip_type_options {
    margin-left: 0;
    width: 100% !important;
  }
  #trip_type_parameters li {
    padding: 10px !important;
    font-size: 13px;
  }
  #close_main_round_trip_type_options_btn {
    top: 210px;
    right: 30px;
  }
  .wrapper {
    margin: 0 10px;
    overflow-x: hidden !important;
  }
  /*top navbar responsiveness*/
  #main_menu_language_submenu {
    position: absolute;
    left: calc(100vw - 174px) !important;
  }
  #mobile_main_menu_items {
    width: 200px;
    height: initial !important;
    overflow: initial !important;
  }
  #mobile_main_menu_items ul {
    width: initial;
    height: initial !important;
    overflow: initial !important;
  }
  #mobile_main_menu_items li {
    display: flex;
    justify-content: space-between;
  }
  .active_top_nav_link {
    border-bottom: none;
  }
  #mobile_top_nav_signin_btn {
    display: block !important;
  }
  #top_nav_signin_btn {
    display: none !important;
  }
  #top_nav_trip_btn {
    display: none !important;
  }
  /*main section responsiveness*/

  section div {
    flex-direction: column !important;
    width: initial !important;
  }
  #home_page_display_pictures {
    height: initial !important;
    margin-top: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .each_display_picture {
    height: 250px !important;
  }
  #hero_section_flex_container {
    flex-direction: column !important;
  }
  .jumbotron_background {
    display: none;
  }
  .favorite_bus_company_title_text {
    flex-direction: row !important;
  }
  .each_popular_city {
    margin-bottom: 10px;
  }
  #home_page_reviews_list {
    padding-bottom: 0;
  }
  .each_review_info {
    overflow: initial;
    margin-bottom: 60px !important;
    height: 350px;
  }
  .each_review_msg_info {
    height: 300px;
  }
  .review_person_photo {
    width: 70px !important;
    height: 70px !important;
    margin: auto;
    margin-top: -45px;
  }
  footer .wrapper div {
    flex-direction: column;
    text-align: center !important;
    height: initial !important;
  }
  footer p {
    max-width: 100% !important;
  }
  .footer_section_header {
    margin: 0 !important;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
  }
  .favorite_bus_company_list_row {
    margin: 0 !important;
  }
  .favorite_bus_company_list_column {
    margin: 3px 0 !important;
  }
  .footer_fld_cntn {
    width: 250px;
    margin: auto !important;
  }
}
