* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 16px;
}
body {
  background-color: #210340;
  min-height: 1500px;
  max-width: 100vw;
  overflow-x: hidden;
}
.jumbotron_background {
  position: absolute;
  height: 100vh;
  z-index: -1;
  width: 100vw;
  background: linear-gradient(rgba(0, 125, 209, 0.466), rgb(248, 75, 182)),
    url("../images/IvoryCoastCity4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  max-width: 1100px;
  margin: auto;
}
header {
  background-color: #140028;
}
.header_content_container {
  display: flex;
  justify-content: space-between;
}
.site_logo_container {
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 23px;
  color: Orange;
  font-weight: bolder;
}
.site_logo_container p,
.site_logo_container span {
  font-size: 23px;
}
.top_nav_main_links_container {
  height: 100%;
}
header ul {
  padding: 20px;
}
header li {
  display: inline;

  padding: 20px;
}
header li a {
  text-decoration: none;
  color: white;
}
header li a:hover {
  color: orange;
}
header li a i {
  color: sandybrown;
  margin-right: 5px;
}
.active_top_nav_link {
  border-bottom: 4px solid orange;
  color: orange;
  padding-bottom: 16px;
}
.active_top_nav_link a {
  color: orange;
}
.active_top_nav_link a i {
  color: rgb(255, 23, 166);
}
.site_motto_container {
  padding-top: 40px;
}
.site_motto {
  padding: 50px 0;
  font-size: 2rem;
  font-weight: bolder;
  color: #cdefff;
}
#map_picture {
  width: 200px;
  height: 100px;
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/ivory-coast-regions-map.gif");
}
.search_tickets_form_container {
  display: flex;
  justify-content: space-between;
  background-color: #210340;
  border-radius: 5px;
  overflow: hidden;
  padding: 0 10px;
}
.search_tickets_form_container .search_fieldset {
  margin: 10px 0;
  width: 40%;
  display: flex;

  background-color: white;
  border-radius: 5px;
}
#home_page_search_button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0;
  margin-right: -10px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(231, 124, 2);
}
.search_tickets_form_container i {
  font-size: 20px;
  color: rgb(202, 131, 0);
  margin: 0 10px;
}
.search_tickets_form_container input {
  width: calc(100% - 40px);
  padding: 10px 0;
  border: none;
}
#trip_type_parameters li {
  display: inline;
  color: #69fda2;
  padding: 15px;
}
#trip_type_parameters i {
  margin-left: 5px;
  color: #ffcb7d;
}
#trip_type_parameters {
  margin: 15px 0;
}
#home_page_display_pictures {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
#home_page_display_pictures_desc {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #210340;
}
#home_page_display_pictures .each_display_picture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  width: 33.3%;
  height: 100%;
}
#site_lower_section {
  min-height: 500px;
}
#most_searched_cities_list_container {
  display: flex;
  justify-content: space-between;
}
.each_popular_city {
  width: 24%;
  display: flex;
  flex-direction: column;
  height: 320px;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(230, 245, 92);
}
.each_popular_city img {
  width: 100%;
  height: 220px !important;
}
.each_popular_city_desc {
  padding: 10px;
}
.favorite_bus_company_list_row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.favorite_bus_company_list_column {
  width: 24%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(146, 206, 255);
}
.favorite_bus_company_title_text {
  display: flex;
  justify-content: space-between;
  color: rgb(146, 206, 255);
  padding: 5px;
}
#home_page_reviews_list {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
}
.each_review_info {
  border-top: 8px solid orange;
  border-bottom: 5px solid orange;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  width: 32%;
}
.review_person_photo {
  width: 70px;
  height: 70px;
  border: 3px solid orange;
  background-color: #140028;
  overflow: hidden;
  border-radius: 100%;
  margin: auto;
  margin-top: -45px;
}
.each_review_msg_info {
  height: 200px;
  padding: 10px;
  overflow: hidden;
}
.review_person_name {
  text-align: center;
  color: #b15416;
  margin: 5px 0;
  font-size: 19px !important;
  font-weight: bolder;
}
.review_date {
  font-size: 13px;
  color: rgb(245, 105, 105);
}
.review_msg {
  padding: 0 10px;
  margin-bottom: 30px;
  color: rgb(18, 2, 39);
  text-align: justify;
}
.review_person_city {
  color: rgb(126, 88, 53);
  font-weight: bolder;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}
footer {
  background-color: #140028;
  padding: 30px 0;
  font-size: 13px;
}
.footer_row {
  display: flex;
  justify-content: space-between;
}
.footer_section_header {
  margin-bottom: 15px;
  color: orange;
  font-weight: bolder;
  font-size: 13px;
}
footer li {
  list-style-type: none;
  color: white;
  font-size: 13px;
}
.footer_fld_cntn {
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
}
.footer_fld_cntn input,
.footer_fld_cntn select {
  font-size: 13px;
  border: none;
  color: white;
  background-color: #140028;
  width: 200px;
}
.footer_ivorycoast_flag,
.header_ivorycoast_flag {
  width: 15px;
  height: 10px;
}
.header_ivorycoast_flag {
  margin-left: 5px;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}
